[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = "==4.4.2"
redis = "*"
ipython = "*"
django-celery-results = "*"

[dev-packages]

[requires]
python_version = "3.10"
