[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
ipython = "*"
django-extensions = "*"
django = "==4.0.5"
django-celery-results = "*"
eventlet = "*"

[dev-packages]

[requires]
python_version = "3.10"
